{extend name="index"/}
{block name="title"}
中心展示
{/block}
{block name="css"}
.span-vr{
    line-height: 40px;
    font-size: 14px;
    color: #999999;
    float: right;
}
{/block}
{block name="content"}
    <div class="row">
        {volist name="shows" id="show" key="key"}
        <div class="col-6">
            <table>
                <tr>
                    <img src="\index\image\{$show->path}" style="width: 360px; margin-bottom: 20px;"/>
                </tr>
            </table>
            <span style="font-size:24px;">
                <p>{$show->name}</p>
            </span>
        </div>   
        {/volist}
    </div>
    <div id="demo0">
        {$shows->render()}
    </div>
{/block}