{extend name="index"/}
{block name="title"}
岗位职责
{/block}
{block name="css"}
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
{/block}
{block name="content"}
<h3 style="margin-top: 30px; line-height: 50px; font-size: 30px;text-align: center; margin-bottom: 25px;">岗位职责</h3>
<hr>
<table>
    <tr>
        <th>岗位名称</th>
        <th>岗位职责</th>
        <th>联系电话</th>
    </tr>
    {volist name="responsibilitys" id="responsibility" key="key"}
    <tr>
        <td>{$responsibility->getData('name')}</td>
        <td>{$responsibility->getData('content')}</td>
        <td>{$responsibility->getData('tel')}</td>
    </tr>
    {/volist}
</table>
{/block}


