{extend name="experiment"/}
{block name="title"}
管理制度 
{/block}
{block name="content"}
<div class="col-6">
    <ul class="list-unstyled d-flex flex-wrap justify-content-between">
        <li class="mb-2"><a href="https://youth.hebut.edu.cn/">校团委</a></li>
        <li class="mb-2"><a href="https://gzc.hebut.edu.cn/">资产与实验室管理处</a></li>
        <li class="mb-2"><a href="https://hiec.hebut.edu.cn/">大学生创新创业中心</a></li>
        <li class="mb-2"><a href="https://yjs.hebut.edu.cn/">研究生院</a></li>
        <li class="mb-2"><a href="https://ugs.hebut.edu.cn/">本科生院</a></li>
    </ul>
</div>
{/block}