<!DOCTYPE html>
<html>
<head>
    <title>实验实训中心</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
    <style type="text/css">
        @media screen and (max-width: 960px)
        {
        body{
            background: #000;
        }
    }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="row">
                    <div class="col-10">
                        <h2>新闻快讯</h2>
                    </div>
                    <div class="col-2">
                        <a href="https://www.baidu.com" style="font-size:20px;text-decoration: none;" class="text-muted">MORE</a>
                    </div>
                </div> 
                <div class="row">
                    <div id="carouselExampleIndicators" class="carousel slide col-5" data-bs-ride="carousel" style="padding-left: 0;">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../images/1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./../images/sky.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./../images/2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="row">
                            <h5>实验实训中心组织全体教工集体学习火灾.为进一步强化师生的消防安全意识、宣传普及防火减灾知识、增强自防自救能力，3月15日上午，实验实训中心组织全体教.</h5>
                        </div>
                        <div class="row">
                            <div class="col-10">
                                <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心全力做好新学期实验教学保...</a><br> 
                                <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心组织开展消防安全宣讲和应..</a><br>
                                <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">河北农业大学现代农业体验中心成功备案...</a><br>
                                <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心热烈欢迎2023级新生</a><br>
                                <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">气象科普活动周</a><br>
                            </div>
                            <div class="col-2">
                                <h6 style="font-size:15px;">02/29</h6>
                                <h6 style="font-size:15px;">02/29</h6>
                                <h6 style="font-size:15px;">02/29</h6>
                                <h6 style="font-size:15px;">02/29</h6>
                                <h6 style="font-size:15px;">02/29</h6>
                            </div>
                        </div>
                    </div>
                </div>                  
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-10">
                        <h2>VR中心</h2>
                    </div>
                    <div class="col-2">
                        <a href="https://www.baidu.com" style="font-size:20px;text-decoration: none;" class="text-muted">MORE</a>
                    </div>
                </div>
                <div class="row">
                    <div id="carouselExampleIndicators1" class="carousel slide col-12" data-bs-ride="carousel" style="padding-left: 0;">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="./../images/1.png" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./../images/sky.jpg" class="d-block w-100" alt="...">
                            </div>
                            <div class="carousel-item">
                                <img src="./../images/2.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <div class="row">
                    <div class="col-10">
                        <h2>通讯中心</h2>
                    </div>
                    <div class="col-2">
                        <a href="https://www.baidu.com" style="font-size:20px;text-decoration: none;" class="text-muted">MORE</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心全力做好新学期实验教学保...</a><br> 
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心组织开展消防安全宣讲和应..</a><br>
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">河北农业大学现代农业体验中心成功备案...</a><br>
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心热烈欢迎2023级新生</a><br>
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">气象科普活动周</a><br>
                    </div>
                    <div class="col-2">
                        <h6 style="font-size:15px;">02/29</h6>
                        <h6 style="font-size:15px;">02/29</h6>
                        <h6 style="font-size:15px;">02/29</h6>
                        <h6 style="font-size:15px;">02/29</h6>
                        <h6 style="font-size:15px;">02/29</h6>
                    </div>      
                </div> 
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-10">
                        <h2>资料下载</h2>
                    </div>
                    <div class="col-2">
                        <a href="https://www.baidu.com" style="font-size:20px;text-decoration: none;" class="text-muted">MORE</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-10">
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心全力做好新学期实验教学保...</a><br> 
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心组织开展消防安全宣讲和应..</a><br>
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">河北农业大学现代农业体验中心成功备案...</a><br>
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">实验实训中心热烈欢迎2023级新生</a><br>
                        <a href="https://www.baidu.com" style="font-size:15px;text-decoration: none;">气象科普活动周</a><br>
                    </div>
                    <div class="col-2">
                        <h6 style="font-size:15px;">02/29</h6>
                        <h6 style="font-size:15px;">02/29</h6>
                        <h6 style="font-size:15px;">02/29</h6>
                        <h6 style="font-size:15px;">02/29</h6>
                        <h6 style="font-size:15px;">02/29</h6>
                    </div>      
                </div>  
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-10">
                        <h2>实验室简介</h2>
                    </div>
                    <div class="col-2">
                        <a href="https://www.baidu.com" style="font-size:20px;text-decoration: none;" class="text-muted">MORE</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <img src="./../images/lab.jpg" class="w-50"><br><br><br><br><br><br>
                        <img src="./../images/lab.jpg" class="w-50"><br>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <h3>生命学科实验室</h3><br>
                                <h5>生命学科实验室位于我校西校区农科大楼</h5><a href="https://www.baidu.com" style="text-decoration: none;">详细></a> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h3>生命学科实验室</h3><br>
                                <h5>生命学科实验室位于我校西校区农科大楼</h5><a href="https://www.baidu.com" style="text-decoration: none;">详细></a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>