{extend name="index"/}
{block name="title"}
管理制度 
{/block}
{block name="content"}
    <h3 style="margin-top: 30px; line-height: 50px; font-size: 30px;text-align: center;">河北农业大学实验实训中心介绍</h3>
    <p class="text-center">河北农业大学实验实训中心于2020年12月29日正式成立，下辖生命学科、文管学科、理工学科、创新创业四大实验实训平台以及现代农业体验中心。中心坚持“管理统一、资源集约、功能多元、运行高效、开放共享”的原则，旨在夯实学生专业基础，提高实验教学水平，推动教学与实践、课内与课外、创新与创业有机衔接，全面提高学校人才培养质量。</p>
    <p class="text-center">生命实验教学平台位于农科大楼3-4层，总建筑面积8000平方米，建有作物学、植物科学与技术、林果生态工程三个国家级实验教学示范中心。平台拥有15类共92间实验室及辅助用房，可为生命学科学生提供良好的实验条件。平台年开设实验课程287门、实验教学工作量42万人时数，承办专业技能大赛、学生创新创业小组实验、教学观摩等活动1万余人次。</p>
    <p class="text-center">文管实验教学平台位于西校区图书馆8-9层，总建筑面积4000平方米，建有11个专业实验室，拥有企业管理平台、经济分析、虚拟仿真系统、云平台等设备1800余台套；拥有虚拟商业社会环境、ERP企业模拟运营沙盘、各类模拟情景等教学环境，可为文管类学生提供不同层次的实践教学。同时为各类双创教育、培训、竞赛等提供场地。年开设实验课98门、近27万人时数，实践和各类大赛近2万人次。</p>
    <p class="text-center">理工实验教学平台位于工科大楼7层，建筑面积1100平方米，设有11个专业实验室，能够为理工科学生提供各类实验实训平台环境。</p>
    <p class="text-center">创新创业实验实训平台分别位于农科大楼6层和负1层，总建筑面积5000平方米，主要包括“生物智造+”创新实践实验室群和智能人工气候室群两部分。前者建设有4条中试生产线，主要面向功能食品、微生物制药、微生物肥料和农林废弃物能源转化等方向提供中试条件。后者建设有7种类型共33间人工气候室，可模拟各种状态下的自然环境，为学校生命学科相关专业的教学、科研活动提供理想的实验环境。</p>
    <p class="text-center">现代农业体验中心位于农科大楼1层，建筑面积3000平方米。通过图文展板、实物陈列、虚拟现实等技术，建设序厅、丰饶冀地、河北农业、动物世界、土壤岩矿、植物旅程、微观视界、森林资源、创客空间九个展示区。旨在辅助教育教学，增强师生知农爱农，学农为农的情怀，同时承担农业科普和文化传承等社会功能。</p>
{/block}