{extend name="news"/}
{block name="title"}
管理制度 
{/block}
{block name="content"}
    <div class="col-10" style="border: #eaeaea 1px solid; padding: 0 20px;">
        <h3 style="margin-top: 30px; line-height: 50px; font-size: 30px;text-align: center;">新闻快讯</h3>
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action">实验实训中心组织全体教工集体学习火灾疏散逃生演练公开课</a>
            <a href="#" class="list-group-item list-group-item-action">实验实训中心全力做好新学期实验教学保障工作</a>
            <a href="#" class="list-group-item list-group-item-action">实验实训中心组织开展消防安全宣讲和应急逃生演练</a>
            <a href="#" class="list-group-item list-group-item-action">气象科普活动周</a>
            <a href="#" class="list-group-item list-group-item-action">消防安全知识及灭火器材操作使用培训</a>
            <a href="#" class="list-group-item list-group-item-action">关于开展实验室安全应急线上演练暨实验室安全“随手拍”活动的通知</a>
        </div>
        <ul class="pagination-custom">
            <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        </ul>
    </div>      
{/block}