{extend name="index"/}
{block name="title"}
岗位职责
{/block}
{block name="css"}
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
{/block}
{block name="content"}
<h3 style="margin-top: 30px; line-height: 50px; font-size: 30px;text-align: center; margin-bottom: 25px;">岗位职责</h3>
<table>
    <tr>
        <th>岗位名称</th>
        <th>岗位职责</th>
        <th>联系电话</th>
    </tr>
    <tr>
        <td>综合管理办公室</td>
        <td>协助中心主任拟订中心年度工作计划、撰写年度工作总结、制订年度预算、规章制度、考勤管理、组织会议等，负责中心实验室安全管理，完成中心主任交办的其他工作。</td>
        <td>7528908</td>
    </tr>
    <tr>
        <td>实验教学管理部</td>
        <td>分别负责文管和生命实验教学平台实验教学运行管理，日常排选课及实验室开放管理，实验耗材采购、管理等。</td>
        <td>未提供</td>
    </tr>
    <tr>
        <td>创新创业平台管理部</td>
        <td>负责生物制造+创新实践项目管理、公共实验室（仪器）使用管理；人工气候室群运行管理、实验耗材统计、保管、发放及实验室安全等。</td>
        <td>未提供</td>
    </tr>
    <tr>
        <td>信息化资源建设与管理部</td>
        <td>负责数字化实验资源制作、收集、整理，实验室管理系统维护管理。</td>
        <td>未提供</td>
    </tr>
    <tr>
        <td>设备维修部</td>
        <td>负责全校教学、科研仪器设备的检测、报修等工作。</td>
        <td>未提供</td>
    </tr>
    <tr>
        <td>现代农业体验中心</td>
        <td>负责展厅内标本制作、收集、维护；实验教学安排及线上考核；展厅日常接待、讲解；志愿者培训与管理。</td>
        <td>未提供</td>
    </tr>
</table>
{/block}