{extend name="index"/}
{block name="title"}
管理制度 
{/block}
{block name="content"}
<div class="center">
    <div class="col-md-12">
        <form method="post">
        <div class="mt-3">
            {volist name="centres" id="centres" key="key"}
            
            <h3 style="margin-top: 30px; line-height: 50px; font-size: 30px;text-align: center;">
                <a class="text-decoration" id="{$centres->id}" type="text-center">{$centres->name}</a>
            </h3>
           
            <p class="text-center">{$centres->content}</p>
            {/volist}
        </div>
        </form>
    </div>
</div>
{/block}