{extend name="news"/}
{block name="title"}
管理制度 
{/block}
{block name="content"}
<div class="col-10" style="border: #eaeaea 1px solid; padding: 0 20px;">
    <h3 style="margin-top: 30px; line-height: 50px; font-size: 30px;text-align: center;">通知公告</h3>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">关于发布“卓兴杯”教职工实验室知识竞赛题库的通知</a>
        <a href="#" class="list-group-item list-group-item-action">关于进一步规范“生物智造+”创新实践平台实验室管理的通知</a>
        <a href="#" class="list-group-item list-group-item-action">学术预告——基于“金税三期”实践教学模式研讨会</a>
        <a href="#" class="list-group-item list-group-item-action">关于举办2021年度园艺专业技能大赛的通知</a>
        <a href="#" class="list-group-item list-group-item-action">关于五一假期延长通知</a>
        <a href="#" class="list-group-item list-group-item-action">关于食堂整改通知</a>
    </div>
    <ul class="pagination-custom">
        <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
    </ul>
</div>  
{/block}