{extend name="index"/}
{block name="title"}
组织结构
{/block}
{block name="css"}
.span-vr{
    line-height: 40px;
    font-size: 14px;
    color: #999999;
    float: right;
}
{/block}
{block name="content"}
<h3 style="margin-top: 30px; line-height: 50px; font-size: 30px;text-align: center; margin-bottom: 50px;">组织结构</h3>
{volist name="organizations" id="organizations" key="key"}
<img src="\Experimental-training-center\thinkphp5.0\public\index\image\{$organizations->path}" style="width: 880px; margin-bottom: 50px;"/>
{/volist}
{/block}
