<!DOCTYPE html>
<html>
<head>
    <title>实验实训中心</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <style type="text/css">
        /*链接*/
        a:hover {
            color: #007bff; /* 鼠标悬停时，a标签的背景颜色为橙色 */
        }
        a{
            color: #666666;
            text-decoration: none;
        }
        /*标题*/
        h2{
            color: #007bff;
        }
        /*导航下弹*/
        .dropdown-menu .dropdown-item:hover {
            background-color: #007bff; /* 蓝色背景 */
            color: white;               /* 白色文字 */
        }
        /*版权*/
        .colored-area {
            background-color: #007bff; /* Blue background */
            width: auto; /* Width of the area */
            margin: 0 auto; /* Center the area in the browser window */
            color: white; /* White text color */
            text-align: center; /* Center the text */
            padding: 20px; /* Add some padding for spacing */
        }
        /*英文注释*/
        i{
            font-style: normal;
            font-size: 12px;
            color: #a1a1a1;
            line-height: 48px;
        }
        /*轮播*/
        .slideshow-container {
            position: relative;
            max-width: 600px;
        }
        .mySlides {
            display: none;
            position: absolute;top:50px;
            top: 0;
            left: 0;
        }
        .fade {
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }
        @-webkit-keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }

        @keyframes fade {
            from {opacity: .4}
            to {opacity: 1}
        }
        /*省略号*/
        .text-truncate {
            font-size: 15px;
            text-decoration: none;
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        /*日期*/
        .custom-spacing {
            margin-left: 50px; /* 增加自定义的间距 */
            float: right;
        }
        /*相关链接*/
        .colored-area1 {
            background-color: #eaeaea; /* Blue background */
            width: auto; /* Width of the area */
            margin: 0 auto; /* Center the area in the browser window */
            color: white; /* White text color */
            text-align: center; /* Center the text */
            padding: 20px; /* Add some padding for spacing */
        }
        h4{
            font-size: 18px;
            color: #333333;
            line-height: 48px;
            height: 48px;
        }
        li{
            font-size: 14px;
            color: #555555;
            line-height: 48px;
            height: 48px;
        }
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <script>
        //提示
        function showSwal() {
            Swal.fire({
                title: '温馨提示',
                text: '梦云智团队提示您：无法自动添加到收藏夹，请ctrl + D手动添加。',
                type: 'info',
                confirmButtonText: '确认'
            });
        }
        //上下轮播
        var slideIndex = 0;

        function showSlides() {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none"; // 确保此时 slides[i] 是定义的
            }
            if (slideIndex >= slides.length) {slideIndex = 0;}
            slides[slideIndex].style.display = "block";
            slideIndex++;
        }

        // 使用 window.onload 确保页面加载完成后执行 showSlides 函数
        window.onload = function() {
            setInterval(showSlides, 2000); // 每2秒调用一次 showSlides 函数
        };
    </script>
    <div>
        <!--背景开始-->
        <div class="row">
            <div class="col-8">
                <a href="https://www.hebut.edu.cn/"><img style="width:1100px;height:200px" src="/index/image/logo.png"/></a>   
            </div>
            <div class="col-4" style="position: absolute;top:100px;left: 1100px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item "><button type="button" class="btn btn-outline-primary" onclick="showSwal()">加入收藏</button></a></li>
                        <li class="breadcrumb-item "><a href="https://www.hebut.edu.cn/"><button type="button" class="btn btn-outline-primary">学校主页</button></a></li>
                        <li class="breadcrumb-item"><a href="{:url('Login/index')}"><button type="button" class="btn btn-outline-primary">管理员</button></a></li>
                    </ol>
                </nav>
            </div>
            <div>
                <form style="position: absolute;top:150px;left: 1100px;" class="d-flex" role="search">
                    <input style="width:300px;height: 32px;" class="form-control me-2" type="search" placeholder="输入关键词搜索" aria-label="Search">
                    <button class="btn btn-primary" type="submit">搜索</button>
                </form>
            </div>
        </div>
        <!--背景结束-->
        <!--导航栏开始-->
        <div class="row" style="--bs-gutter-x: 0;">
            <div class="col-2 bg-primary text-white">
            </div>
            <div class="col-8 bg-primary text-white">
                <div class="btn-group">
                   <a type="button" class="btn btn-primary" href="{:url('Index/index')}">网站首页</a>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">中心概况</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{:url('Centre/index')}">中心介绍</a></li>
                        <li><a class="dropdown-item" href="{:url('Organization/index')}">组织结构</a></li>
                        <li><a class="dropdown-item" href="{:url('Responsibility/index')}">岗位职责</a></li>
                        <li><a class="dropdown-item" href="{:url('Layout/index')}">中心布局图</a></li>
                        <li><a class="dropdown-item" href="{:url('Teacher/index')}">师资队伍</a></li>
                        <li><a class="dropdown-item" href="{:url('Show/index')}">中心展示</a></li>
                        <li><a class="dropdown-item" href="{:url('Manage/index')}">管理制度</a></li>
                        <li><a class="dropdown-item" href="{:url('Vr/index')}">VR中心</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">新闻动态</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{:url('News/index')}">新闻快讯</a></li>
                        <li><a class="dropdown-item" href="{:url('Notification/index')}">通知公告</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">实验教学</button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{:url('ProfessionalExperiment/index')}">专业实验</a></li>
                        <li><a class="dropdown-item" href="{:url('SpecialtyExperiment/index')}">跨专业综合实验</a></li>
                        <li><a class="dropdown-item" href="{:url('InnovationExperiment/index')}">创新创业实验</a></li>
                        <li><a class="dropdown-item" href="{:url('Xu/index')}">虚拟仿真实验</a></li>
                        <li><a class="dropdown-item" href="{:url('VideoTeaching/index')}">视频教学资源</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <a type="button" class="btn btn-primary" href="{:url('Rules/index')}">规章制度</a>
                </div>
                <div class="btn-group">
                     <a type="button" class="btn btn-primary" href="{:url('SpecificationCenter/index')}">规范中心</a>
                 </div>
                <div class="btn-group">
                    <a type="button" class="btn btn-primary" href="{:url('Zi/index')}">资料下载</a>
                </div>
            </div>
            <div class="col-2 bg-primary text-white">
            </div>
        </div>
        <!--导航栏结束-->
        <!--轮播开始-->
        <div id="carouselExample" class="carousel slide;row justify-content-center" style="margin-bottom: 50px;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/index/image/shou.jpg" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/index/image/2.jpg" class="d-block" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/index/image/3.jpg" class="d-block" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--轮播结束-->
        <!--主体开始-->
        <div style="margin-bottom: 50px;">
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-2">
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-11">
                            <h2>新闻快讯</h2>
                        </div>
                        <div class="col-1">
                            <a href="{:url('News/index')}" style="font-size:25px; float: right;" class="text-muted">更多</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <i>News & Events</i>
                        </div>
                        <div class="col-1">
                            <i style="float: right;">More&emsp;&ensp;</i>
                        </div>
                    </div>
                    <div class="row">
                        <div id="carouselExampleIndicators" class="carousel slide col-6" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                {volist name="new" id="image" key="key"}
                                    <div class="carousel-item active">
                                        <img  class="d-block" alt="..." style="width: 550px; height: 300px;" src="/index/image/{$image->getData('path')}"/>
                                    </div>
                                {/volist}
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-12">
                                    {volist name="new" id="image" key="key"}
                                        <div class="d-flex align-items-center mb-3">
                                            <a href="<?php echo url('News/newsDetail', ['id' => $image['id']]); ?>" class="text-truncate flex-grow-1" style="font-size:15px;text-decoration: none;">{$image->getData('title')}</a>
                                            <h6 class="custom-spacing" style="font-size:15px;">{$image->getData('publish_date')}</h6>
                                        </div>
                                    {/volist}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-10">
                            <h2>通讯中心</h2>
                        </div>
                        <div class="col-2">
                            <a href="{:url('News/index')}" style="font-size:20px;text-decoration: none;" class="text-muted">更多</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <i>communication center</i>
                        </div>
                        <div class="col-2">
                            <i>More</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {volist name="notifications" id="image" key="key"}
                                <div class="d-flex align-items-center mb-3">
                                    <a href="<?php echo url('Notification/notificationDetail', ['id' => $image['id']]); ?>" class="text-truncate flex-grow-1" style="font-size:15px;text-decoration: none;">{$image->getData('title')}</a>
                                    <h6 class="custom-spacing" style="font-size:15px;">{$image->getData('publish_date')}</h6>
                                </div>
                            {/volist}
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-10">
                            <h2>资料下载</h2>
                        </div>
                        <div class="col-2">
                            <a href="{:url('Zi/index')}" style="font-size:20px;text-decoration: none;" class="text-muted">更多</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <i>Data Download</i>
                        </div>
                        <div class="col-2">
                            <i>More</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex align-items-center mb-3">
                                <a href="https://www.baidu.com" class="text-truncate flex-grow-1" style="font-size:15px;text-decoration: none;">实验实训中心文管实验教学平台云桌面客户端</a>
                                <h6 class="custom-spacing" style="font-size:15px;">10/25</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <a href="https://www.baidu.com" class="text-truncate flex-grow-1" style="font-size:15px;text-decoration: none;">生物制造+创新实践平台实验室使用申请书、安全责任书</a>
                                <h6 class="custom-spacing" style="font-size:15px;">05/26</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <a href="https://www.baidu.com" class="text-truncate flex-grow-1" style="font-size:15px;text-decoration: none;">文管实验教学中心实验室借用管理办法</a>
                                <h6 class="custom-spacing" style="font-size:15px;">10/23</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <a href="https://www.baidu.com" class="text-truncate flex-grow-1" style="font-size:15px;text-decoration: none;">实验环境准备表（填写说明）</a>
                                <h6 class="custom-spacing" style="font-size:15px;">10/23</h6>
                            </div>
                            <div class="d-flex align-items-center mb-3">
                                <a href="https://www.baidu.com" class="text-truncate flex-grow-1" style="font-size:15px;text-decoration: none;">实验室预约使用申请表 (新填表说明）</a>
                                <h6 class="custom-spacing" style="font-size:15px;">02/29</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                </div>
            </div>
            <div class="row" style="margin-bottom: 25px;">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <div class="row">
                        <div class="col-10">
                            <h2>VR中心</h2>
                        </div>
                        <div class="col-2">
                            <a href="{:url('Vr/index')}" style="font-size:20px;text-decoration: none;" class="text-muted">更多</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <i>VR Center</i>
                        </div>
                        <div class="col-2">
                            <i>More</i>
                        </div>
                    </div>
                    <div class="row">
                        <div id="carouselExampleIndicators1" class="carousel slide col-12" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="/index/image/vr1.jpg" class="d-block" alt="..." style="width: 505px;height:240px">
                                </div>
                                <div class="carousel-item">
                                    <img src="/index/image/vr2.jpg" class="d-block" alt="..." style="width: 505px;height:240px">
                                </div>
                                <div class="carousel-item">
                                    <img src="/index/image/vr3.jpg" class="d-block" alt="..." style="width: 505px;height:240px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>    
                <div class="col-4">
                    <div class="row">
                        <div class="col-10">
                            <h2>实验室简介</h2>
                        </div>
                        <div class="col-2">
                            <a href="{:url('VideoTeaching/index')}" style="font-size:20px;text-decoration: none;" class="text-muted">更多</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <i>Laboratory Introduction</i>
                        </div>
                        <div class="col-2">
                            <i>More</i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="slideshow-container col-5">
                            <div class="mySlides fade">
                                <img src="/index/image/lab.jpg" style="width:100%">
                            </div>
                            <div class="mySlides fade">
                                <img src="/index/image/lab1.jpg" style="width:100%;">
                            </div>

                            <div class="mySlides fade">
                                <img src="/index/image/lab2.jpg" style="width:100%">
                            </div>
                        </div>
                        <div class="col-7">
                            <h5>生命学科实验室</h5>
                            <p>生命学科实验室是指专注于生命科学领域研究的实验室。这些实验室可能涵盖多个研究方向，如分子生物学、细胞生物学、遗传学、生物化学、生态学等。在这些实验室中，科学家和研究人员通过实验来探索生命的奥秘，包括生命的起源、发展、功能以及与环境的相互作用。</p>
                            <a href="{:url('VideoTeaching/index')}" style="text-decoration: none;">详细></a>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                </div>    
            </div>
        </div>
        <!--主体结束-->
        <!--链接开始-->
        <div class="colored-area1" style="margin-top: 50px;">
            <div class="container">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-2">
                        <h4>相关链接：</h4>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled d-flex flex-wrap justify-content-between">
                            <li class="mb-2"><a href="https://youth.hebut.edu.cn/">校团委</a></li>
                            <li class="mb-2"><a href="https://gzc.hebut.edu.cn/">资产与实验室管理处</a></li>
                            <li class="mb-2"><a href="https://hiec.hebut.edu.cn/">大学生创新创业中心</a></li>
                            <li class="mb-2"><a href="https://yjs.hebut.edu.cn/">研究生院</a></li>
                            <li class="mb-2"><a href="https://ugs.hebut.edu.cn/">本科生院</a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                    </div>
                </div>
            </div>
        </div>
        <!--链接结束-->
        <!--版权开始-->
        <div class="colored-area">
            <p style="font-size: 30px;">河北工业大学</p>
            <p style="font-size: 30px;">Copyright  梦云智团队</p>
        </div>
        <!--版权结束-->
    </div>
</body>
</html>